.TransitionComponentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 10vw;
    left: 0;   /* changed from -10px to 0 */
    bottom: 0; /* added this line */
    margin: 40px;
    margin-top: 50px;
    margin-left: 30%;
    opacity: 0.5;
    z-index: 100;
}

.arrow {
    border: none;
    height: 50px;
    border-left: 1.5px solid var(--text);
}

.word {
    margin: 10px;
}

.scrollContainer {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 14px;
    color: var(--text); 
    cursor: pointer;
}

.letter {
    display: inline-block;
    transform-origin: center bottom;
    animation: waveEffect 3s ease-in-out infinite;
}

@keyframes waveEffect {
    0%, 100% {
        transform: scale(1);
    }
    15% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.2);
    }
    45% {
        transform: scale(1);
    }
    60% {
        transform: scale(1);
    }
}


@media only screen and (max-width: 768px) {
    .TransitionComponentContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;
        width: 10vw;
        left: 2vw;
        opacity: 0.8;
        margin-top: 7vh;
        margin-bottom: 5vh;
    }
}
