
.container {
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 500px;
    background-color: var(--fill);
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 50%;  /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjusts for the exact center */
    right: 0;
    bottom: 0;
    z-index: 1000; /* Ensure it's on top of other content */
    padding: 30px;
}
.title {
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
}
.goBack {
    font-weight: 600;
    cursor: pointer;
}
.containerOfAllData {
    width: 95%;
    width: 880px; /* So it doesn't get too wide on large screens */
    height: 400px;
    background-color: #29323c;
    box-shadow: 0px 0px 20px -10px #000;
    border-radius: 5px;
    overflow-y: auto; /* Allows vertical scrolling if the content exceeds the container height */
}

.containerOfAllData thead {
    background: linear-gradient(90deg, #29323c 0%, #3b4249 100%);
  }
  
  .containerOfAllData th {
    padding: 15px 20px;
    text-align: left;
    color: rgba(255, 255, 255, 0.9);
    font-size: 16px;
    text-transform: uppercase;
  }
  
  .containerOfAllData tbody tr {
    transition: background 0.3s ease;
  }
  
  .containerOfAllData tbody tr:hover {
    background: #3b4249;
  }
  
  .containerOfAllData td {
    padding: 12px 20px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .containerOfAllData td:nth-child(3), /* Is Admin */
  .containerOfAllData td:nth-child(6) /* Is Active */ {
    text-align: center;
  }
  
  .containerOfAllData td:nth-child(3):before, /* Icons for Is Admin */
  .containerOfAllData td:nth-child(6):before { /* Icons for Is Active */
    content: '\2713'; /* Checkmark */
    color: #aaf0d1;
    display: block;
    font-weight: bold;
    text-align: center;
  }
  
  .containerOfAllData td:nth-child(3)[data-content='No']::before {
    content: '\2717'; /* X symbol */
    color: #ff4d4d; /* Red color */
  }
  
  .containerOfAllData tr:last-child td {
    border-bottom: none; /* Removes the border from the last row data */
  }
/* Making the scrollbar transparent */
::-webkit-scrollbar {
    height: 6px;
}
/* Making the scrollbar visible when scrolling */
::-webkit-scrollbar-thumb {
    background-color: #888; /* Change to desired color */
    border-radius: 3px;
}
::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Change to desired color */
}

@media (max-width: 910px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 95vw;
        background-color: var(--fill);
        justify-content: space-evenly;
        align-items: center;
        position: fixed;
        top: 50%;  /* Center vertically */
        left: 50%; /* Center horizontally */
        transform: translate(-50%, -50%); /* Adjusts for the exact center */
        right: 0;
        bottom: 0;
        z-index: 1000; /* Ensure it's on top of other content */
    }

    .containerOfAllData {
        width: 95%;
        width: 95vw;
        height: 600px;
        background-color: #29323c;
        box-shadow: 0px 0px 20px -10px #000;
        border-radius: 5px;
        overflow-y: auto; /* Allows vertical scrolling if the content exceeds the container height */
    }

    .title {
        font-size: 20px;
        font-weight: 600;
        padding-bottom: 20px;
        cursor: pointer;
    }
    .goBack {
        font-weight: 600;
        font-size: 16px;
        padding-top: 20px;
        cursor: pointer;
    }
}