:root {
  --bg: #f4f9fc;
  --line: #7f00e0;
  --fill: #aadcec;
  --text: #0f1b61;
  --subtext: #73bbc5;
  --duo: #aadcec;

  --bg2: #fff7f7;
  --line2: #7E66C7;
  --fill2: #FCC5D3;
  --text2: #021963;
  --subtext2: #F67796;
  --duo2: #FCC5D3;
  --bg3: #f4f9ec;
}

.App {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #f4f9fc;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 150000px;
}

body {
  overflow-x: hidden;
}

/* Making the scrollbar transparent */
::-webkit-scrollbar {
  width: 6px;
}
/* Making the scrollbar visible when scrolling */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Change to desired color */
  border-radius: 3px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Change to desired color */
}

/* For Firefox */
body {
  scrollbar-color: transparent transparent;
}

body.is-scrolling {
  scrollbar-color: #888 #f1f1f1;
}

.welcome-message {
  background-color: #73bbc5;
  color: white;
  position: absolute;
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
  
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 107px;
  font-family:'Quicksand';
  margin: 10px;
  margin-top: 0px;
  animation: disappear 1.5s ease-in forwards;
  animation-delay: 0.7s;
  z-index: 10000000;
}

@media (max-width: 999px) {
  .welcome-message {
    background-color: #73bbc5;
    color: white;
    position: absolute;
    width: calc(100vw - 20px);
    height: calc(100vh - 20px);
    
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    font-size: 77px;
    font-family:'Quicksand';
    margin: 10px;
    margin-top: 0px;

    animation: disappear 1.5s ease-in forwards;
    animation-delay: 0.7s;
    z-index: 10000000;
  }
}

@media (max-width: 768px) {
  .welcome-message {
    background-color: #73bbc5;
    color: white;
    position: absolute;
    width: calc(100vw - 20px);
    height: calc(100vh - 20px);
    
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    font-size: 67px;
    font-family:'Quicksand';
    margin: 10px;
    margin-top: 0px;

    animation: disappear 1.5s ease-in forwards;
    animation-delay: 0.7s;
    z-index: 10000000;
  }
}

@keyframes disappear {
  0%   {opacity: 1;}
  100% {opacity: 0;}
}